/* mobile-message.css */

.mobile-message {
    display: none;
  }
  
  @media only screen and (max-width: 767px) {
  
    body {
      margin: 0; 
    }
  
    .mobile-message {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      color: white;
    }
  
    p {
      max-width: 90%;
      text-align: center; 
    }
  
  }